{% load component_tags %}

<!doctype html>
<html>
<head>
    <title>Cikca Putih</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% component "favicon" %}{% endcomponent %}
  {% component "ui_daisy" %}{% endcomponent %}
  {% component_css_dependencies %}
</head>
<body>
  <div class="drawer drawer-end">
    <input id="sidemenu" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      {% component "navbar_feed" %}{% endcomponent %}
      <!-- Page content here -->
      <main class="my-24 mx-5 ">
      {% block content %}{% endblock content %}
      </main>
      {% component "footer" %}{% endcomponent%}
      
    </div>
    {% component "sidemenu" %}{% endcomponent%}
    
  </div>
{% component_js_dependencies %}
</body>
</html>