<div class="mx-auto sm:max-w-none">
    <div class="mb-8 px-6">
        <div class="flex items-center gap-3">
            <a href="/blog" class="inline-block hover:opacity-80">
                <h1 class="font-title text-base-content text-xl font-extrabold">Sedang Hangat</h1>
            </a> 
            
        </div> 
        
        <p class="text-base-content/60 text-xs italic">Updates, ideas & tips</p>
    </div>
    <ul class="menu sm:menu-horizontal ">
        <li class='menu-title'><a>Tags</a></li>
        <li>
            <ul class="menu-vertical  rounded-box">
                <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
                <li><a>Item 3</a></li>
              </ul>
        </li>
      </ul>
</div>